body{
    font-size: 'Poppins' sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

main::after{
    content: '';
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.05926120448179273) 50%, rgba(0, 0, 0, 2) 95%);
    z-index: -1;
}

.conteudo{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
}

.informacoes .Logo{
    max-width: 400px;
    filter: invert(1);
    margin-bottom: 70px;
}

.informacoes .descricao{
    width: 60%;
    font-size: 24px;
    color: #ffffff;
    line-height: 30px;
}
.carossel .image{
    height: 50px;
}

.botoes-carossel{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botoes-carossel .botao{
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    border-color: #ffffff;
}

.botoes-carossel .botao.selecionado{
    background-color: forestgreen;
}

.menu-lateral ul{
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 10px;
}

.menu-lateral .icon{
    width: 30px;
    filter: invert(1);
    transition: 0.3s ease-in-out;
}

.menu-lateral .icon:hover{
    transform: scale(1.2);
}

.carossel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.carossel .image{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    animation: mudarImagem 0.7;
    display: none;
}

.carossel .image.ativa{
    display: block;
}

@keyframes identifier {
    from{
        opacity: 0.86;
    }
    to{
        opacity: 1;
    }
}