@media (max-width: 768px) {
    .informacoes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .informacoes .descricao{
        width: 60%;
        text-align: center;
    }

}
@media (max-width: 425px) {
     .informacoes .Logo{
        max-width: 300px;
     }

     .informacoes .descricao{
        width: 65%;
      }

     .menu-lateral {
        position: static;
        min-height: auto;
        width: 100%;
        margin-top: 50px;
      }
     .menu-lateral ul {
          flex-direction: column;
      }
     .conteudo {
        min-height: 70vh;
        gap: 50px;
      }

     body{
        padding: 40px;
      }
}